doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        meta(name='description', content=locals.description)
        meta(name='keywords', content=locals.keywords.join(','))
        meta(property='og:title', content=locals.title)
        meta(property='og:url', content=locals.url)
        meta(property='og:description', content=locals.description)
        meta(property='og:type', content='website')
        link(rel='icon', href='/favicon.png' type='image/png')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
        title= locals.title + ' - ' + locals.description
        script(type='text/javascript') window.html5 = {shivCSS:true};
        script(src='/javascript/html5shiv/dist/html5shiv.min.js')
        block head-js
        block head-css
        link(rel='stylesheet', type='text/css', href=contents.stylesheets['site.css'].url)
    body
        block header
            header.page
                nav.global
                    a(href="http://coldrye.eu") Cold Rye
                    a.active(href="http://es.coldrye.eu") ECMAScript
                    block nav-global-ext
                div.logo
                    a(href='/')
                        if contents.images['logo.png']
                            img(src=contents.images['logo.png'].url)
                        span.title
                            =locals.title
                block nav-site
                    nav.site
                        a(href='/') Home
                        each project in _.chain(contents.projects).sortBy(function (item) { return item['index.json'] ? item['index.json'].metadata.order : item['index.md'].metadata.order; }).value()
                            - var url = (project['index.json'] || project['index.md']).url;
                            - var components = url.split('/');
                            - var name = components[components.length - 2];
                            a(href=url)= name
                        block nav-site-ext

        main.page
            block aside-page

            block main-page
                p Someone's missed a block.

        block footer-page

